.lt_main .cart_item {
  height: 110px;
}

.lt_main .cart_img {
  float: left;
  width: 60px;
  height: 90px;
}

.lt_main .cart_info {
  overflow: hidden;
  height: 90px;
  padding: 0 10px;
}
.lt_main .cart_info .pro_name {
  color: #000;
}
.lt_main .cart_info .price {
  color: red;
}
.lt_main .cart_info .oldPrice {
  text-decoration: line-through;
}

.lt_main .mui-table-cell {
  display: block;
}

.lt_size {
  text-align: left;
}

.lt_num {
  text-align: left;
}