/* 导航样式 */
.lt_nav {
  padding: 10px;
}
.lt_nav li {
  float: left;
  width: 33.3%;
}
.lt_nav li a {
  display: block;
}


/* 产品样式 */
.lt_product {
  padding: 10px;
}
.lt_product_item {
  float: left;
  width: 48%;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}
.lt_product_item:nth-child(2n+1) {
  margin-right: 4%;
}
.lt_product_item .price {
  color: red;
}
.lt_product_item .oldPrice {
  text-decoration: line-through;
}