
ul {
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: #333;
}

/* 登录页面 */
.panel {
  padding: 0;
  margin-top: 200px;
}
.panel .panel-heading {
  text-align: center;
  font-size: 20px;
  height: 60px;
  line-height: 40px;
}

/*主页公共模块*/

/*1.主页侧边栏*/
.lt-aside {
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;
  background-color: #222D32;
  z-index: 999;
  transition: all 0.5s;
}
.lt-aside .title {
  height: 50px;
  width: 100%;
  background-color: #367FA9;
  color: #fff;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
}
.lt-aside .user {
  margin: 30px 0;
}
.lt-aside .user>img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.lt-aside .user>p {
  color: #fff;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.lt-aside .nav a {
  color: #fff;
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  border-left: 6px solid transparent;
}
.lt-aside .nav a span {
  padding-left: 5px;
}
.lt-aside .nav .small a {
  padding-left: 60px;
}
.lt-aside .nav li a.current {
  border-left-color: #367FA9;
  background-color: #1D1F21;
}
.lt-aside.current {
  left: -177px;
}
/* 2.主页顶部 */
.lt-top {
  padding-left: 180px;
  height: 50px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #3C8DBC; 
  transition: all .5s;
}
.lt-top a {
  color: #fff;
  font-size: 20px;
  padding: 13px 15px;
}
.lt-top.current {
  padding-left: 0;
}

/* 3.主页主体部分 */
body,html {
  width: 100%;
  height: 100%;
}
.lt-main {
  padding-top: 50px;
  padding-left: 180px;
  width: 100%;
  height: 100%;
  transition: all .5s;
}
.lt-main .nav {
  padding-top: 20px;
}
.lt-main .nav a {
  color: #777777;
}
.lt-main .nav a.active {
  color: #367FA9;
}
.lt-main.current {
  padding-left: 0;
}
.lt-main .echarts2,
.lt-main .echarts1 {
  width: 45%;
  height: 400px;
}
#add {
  margin-bottom: 20px;
}

/* 模态框 */
.modal .modal-body p {
  color: #A94442;
}
table.table.table-bordered  td,
table.table.table-bordered  th {
  text-align: center;
  vertical-align: middle;
}
table.table.table-bordered img {
  height: 50px;
}


/* 添加分类模态框 */
#addModal  img {
  height: 100px;
  display: block;
  width: 100px;

}
#addModal .btn-group,
#addModal .dropdown{
  width: 100%;
}

