<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>乐淘商城</title>
  <link rel="stylesheet" href="./lib/mui/css/mui.min.css">
  <link rel="stylesheet" href="./lib/fa/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/cart.css">
  <link rel="icon" href="./favicon.ico">
</head>

<body>

  <!-- 全局容器 -->
  <div class="lt-container">
    <!-- 商城头部 -->
    <div class="lt-header">
      <!-- history.go(-1) -->
      <a href="javascript:history.back();" class="icon-left"><i class="mui-icon mui-icon-back"></i></a>
      <div class="text"><span>购物车</span></div>
    </div>
    <!-- 商城主体 -->
    <div class="lt-main">
      <div class="mui-scroll-wrapper">
        <div class="mui-scroll">

          <!-- 挖个坑 -->



        </div>
      </div>
    </div>
    <!-- 商城底部 -->
    <div class="lt-footer">
      <ul class="mui-clearfix">
        <li>
          <a href="index.html">
            <i class="fa fa-home"></i>
            <p>首页</p>
          </a>
        </li>
        <li>
          <a href="category.html">
            <i class="fa fa-bars"></i>
            <p>分类页</p>
          </a>
        </li>
        <li class="current">
          <a href="cart.html">
            <i class="fa fa-shopping-cart"></i>
            <p>购物车</p>
          </a>
        </li>
        <li>
          <a href="user.html">
            <i class="fa fa-user"></i>
            <p>用户中心</p>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <!-- 商品区模板 -->
  <script type="text/html" id="cartTpl">

    {{ each info v i }}
    <li class="mui-table-view-cell">

        <div class="mui-slider-right mui-disabled">
          <a class="mui-btn mui-btn-primary mui-icon mui-icon-compose btn_edit"
          data-id="{{ v.id }}" data-size="{{ v.size }}" data-num="{{ v.num }}" 
          data-proSize="{{ v.productSize }}" data-proNum="{{ v.productNum }}"></a>
          <a class="mui-btn mui-btn-danger mui-icon mui-icon-trash btn_delete" 
          data-id="{{ v.id }}"></a>
        </div>
        <div class="mui-slider-handle">
          <div class="mui-table-cell">
            <div class="cart-item">

              <div class="left">
                <img src="{{ v.pic[0].picAddr }}" alt="">
                <input type="checkbox">
              </div>

              <div class="right">
                <p>{{ v.proName }}</p>
                <p>
                  <span class="price">¥{{ v.price }}</span>
                  <span class="oldPrice">¥{{ v.oldPrice }}</span>
                  <span class="mui-pull-right">数量{{ v.num }}</span>
                </p>
                <p>鞋码:{{ v.size }}</p>
              </div>

            </div>
          </div>
        </div>

      </li>
    {{ /each }}
  </script>

  <script type="text/html" id="updateTpl">
    <div class="pro-size item-box mui-text-left">
        尺码:
        <%  
          var arr = prosize.split( '-' );
          var start = +arr[0];
          var end = +arr[1];
          for( i = start ; i <= end ; i++ ){
        %>
        <span>{{ i }}</span>
        <% } %>
      </div>


      <div class="num-box item-box mui-text-left">
          <span>数量:</span>
          <div class="mui-numbox"  data-numbox-step='1' data-numbox-min='1' data-numbox-max='{{ productnum }}'>
            <button class="mui-btn mui-numbox-btn-minus" type="button">-</button>
            <input class="mui-numbox-input" type="number" value="{{ num }}">
            <button class="mui-btn mui-numbox-btn-plus" type="button">+</button>
          </div>
      </div>
  </script>

  <script src="./lib/mui/js/mui.js"></script>
  <script src="./lib/zepto/zepto.min.js"></script>
  <script src="./lib/artTemplate/template-web.js"></script>
  <script src="./js/common.js"></script>
  <script src="./js/cart.js"></script>
</body>

</html>