.body_bg {
  background-color: #222D32;
}

.red {
  color: #A94442;
}

/* lvha */
a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}




.panel .panel-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

.mt_150 {
  margin-top: 150px;
}
.mt_20 {
  margin-top: 20px;
}


/* 侧边栏 */
.lt_aside {
  width: 180px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #222D32;
  z-index: 999;
  transition: all 1s;
}
.lt_aside.hidemenu {
  left: -180px;
}


.lt_aside .brand {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  background-color: #367FA9;
}
.lt_aside .brand a {
  color: #fff;
}
.lt_aside .user {
  height: 180px;
  padding-top: 30px;
}
.lt_aside .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.lt_aside .user p {
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.lt_aside .nav a {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  padding-left: 40px;
  /* transparent 透明 */
  border-left: 3px solid transparent;
}
.lt_aside .nav a.current {
  background-color: #1D1F21;
  border-left: 3px solid #069;
}


.lt_aside .nav .child a {
  padding-left: 60px;
}


.lt_main {
  height: 3000px;
  /* background-color: pink; */
  padding-left: 180px;
  padding-top: 50px;
  transition: all 1s;
}
.lt_main.hidemenu {
  padding-left: 0px;
}

.lt_topbar {
  width: 100%;
  height: 50px;
  background-color: #3C8DBC;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 180px;
  transition: all 1s;
  z-index: 666;
}
.lt_topbar.hidemenu {
  padding: 0;
}



.lt_topbar a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

/* 指定echarts容器的宽高 */
.echarts_1,
.echarts_2 {
  width: 48%;
  height: 400px;
}

.table.table-bordered th,
.table.table-bordered td {
  vertical-align: middle;
  text-align: center;
}